@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans:wght@300&display=swap');
.App {
  text-align: center;
  font-family: Work Sans;
}
.logo{
  margin-top: 8rem;
}
.welcome{
  margin-top: 5rem;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: Work Sans;
}
.line{
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 800;
  color: #666666;
}
.number{
  /* position: relative; */
  width: 21rem;
  height: 2.5rem;
  border-color: #FFD37D;
  border-width: .1rem;
  border-radius: .5rem;
  margin-top: 3rem;
  z-index: 1;
}
.placeholder{
  position: absolute;
  font-size: .8rem;
  margin-left: -44%;
  margin-top: -2%;
  z-index:2 ;
  background-color: white;
}
.input-container{
  position: relative;
  width: 300px;
  margin: 4rem auto;
  height: .5rem;
}
.info-container{
  font-size: 0.8rem;
  margin-top: 0;
}
.signin {
  display: inline-block;
  width: 14rem;
  height: 2.2rem;
  border-radius: 6.2rem;
  background-color: #F7B348;
  border: none;
  color: white;
  font-size: 0.9rem;
  text-align: center; 
  line-height: 2.2rem; 
  text-decoration: none; 
  cursor: pointer;
  margin-top: 5rem;
}

.react-tel-input {
 display: flex;
 justify-content: space-between;
 margin : 0 auto;
 width: 36%;
 /* border: 2px solid #ff0000;  */
}
.form-control{
  height: 2.6rem;
  margin: 0 auto;
  /* border: 2px solid blue; */
}
.flag-dropdown{
  height: 35px;
}

/* ===================================OTPPage====================================== */

.logo2{
  margin-top: 4rem;
  z-index:1
}
.snackbar{
  position: absolute;
  width: 20rem;
  padding: 1rem;
  background-color: #666666;
  color: white;
  border-radius: 1rem;
  z-index:2;

  transform: translate(165%, -50%);
}
.pls-verify{
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 2rem;
}
.otpsent{
  font-size: 1rem;
  margin-top: 1.8rem;
  font-weight: 400;
}
.chng-num{
    color: #F7B348;
    font-size: 0.9rem;
   
    font-weight: 400;
  }
  .otp-boxes{
    display: flex;
    margin: 4rem auto;
    margin-bottom: 1rem;
    height: 3rem;
    width: 15rem;
    justify-content: space-between;

  }
  .otpBox{
     width: 2.5rem;
     height: 2.5rem;
     text-align: center;
     font-size: 1rem;
  }
  .resend-container{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin :2rem auto;
    margin-top: 4rem;
  }
  .verify{
    display: inline-block;
  width: 14rem;
  height: 2.2rem;
  border-radius: 6.2rem;
  background-color: #F7B348;
  border: none;
  color: white;
  font-size: 0.9rem;
  text-align: center; 
  line-height: 2.2rem; 
  text-decoration: none; 
  cursor: pointer;
  /* margin-top: 2.5rem; */
  }
  /* =====================Welcome Page======================= */
  .logoStyle{
    margin-top: -1.5rem;
  }
  .tagline{
    font-weight: 1.5rem;
    font-weight:900;
    margin-top: 1.5rem;
  }
  .intro-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem
  }
  .intro1{
    font-size: 1rem;
    color: #999999;
  }
  .intro2{
    font-size: 1rem;
    color: #666666;
  }
  .start{
    width: 14rem;
    height: 2.2rem;
    border-radius: 6.2rem;
    background-color: #F7B348;
    border-style: none;
    color: white;
    font-size: .9rem;
    margin-top: 4rem;
  }
  .lastline{
    font-size: .8rem;
    color: #999999;
    margin-top: .5rem;
  }
  